{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 10 Chrome versions",
            "last 10 Firefox versions"
          ]
        }
      }
    ],
    "react"
  ],
  "env": {
    "start": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
