{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
